In [15]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [19]:
df = pd.read_excel("Excel/Airport Data Analysis_CM.xlsx")

In [17]:
df

,DayOfMonth,DayOfWeek,Carrier,Origin,OriginCity,Dest,DestCity,DepartureDelay,ArrivalDelay,SchdElapsedTime,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,DayOfWeek.1,ArrivalDelay.2
0,15,6,American,JFK,"New York, NY",MIA,"Miami, FL",73,58,213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.953424,58.036142
1,11,2,American,CLT,"Charlotte, NC",DFW,"Dallas/Fort Worth, TX",3,38,158,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.030324,38.005671
2,30,7,American,DCA,"Washington, DC",MIA,"Miami, FL",64,69,168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.941650,68.997273
3,12,3,American,MIA,"Miami, FL",STX,"Christiansted, VI",54,48,164,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.928283,47.947426
4,13,4,American,MIA,"Miami, FL",BDL,"Hartford, CT",24,32,183,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.907401,32.049627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,28,5,Frontier,LGA,"New York, NY",ATL,"Atlanta, GA",-8,-8,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.908176,-7.917563
1046,2,7,Hawaiian,LAX,"Los Angeles, CA",OGG,"Kahului, HI",29,19,350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.966854,18.970389
1047,9,7,Hawaiian,SEA,"Seattle, WA",HNL,"Honolulu, HI",0,-6,355,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.095376,-5.962298
1048,9,7,Hawaiian,LIH,"Lihue, HI",OGG,"Kahului, HI",11,10,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.072272,10.033006
1049,30,7,American,MSP,"Minneapolis, MN",DFW,"Dallas/Fort Worth, TX",732,704,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.064285,704.034684