In [13]:
import numpy as np
import pandas as pd
import plotly.express as px
import sqlalchemy
from pathlib import Path
from zipfile import ZipFile

with ZipFile('dataElections.zip', 'r') as zipObj:
   # Extract all the contents of zip file in current directory
   zipObj.extractall()
    
engine = sqlalchemy.create_engine("sqlite:///fec_nyc.db")
connection = engine.connect()

In [14]:
%reload_ext sql

In [15]:
%sql sqlite:///fec_nyc.db

In [16]:
%%sql
SELECT sql FROM sqlite_master WHERE type='table';

 * sqlite:///fec_nyc.db
Done.

[('CREATE TABLE "cand" (\n    cand_id character varying(9),\n    cand_name text,\n    cand_pty_affiliation character varying(3),\n    cand_election_yr i ... (196 characters truncated) ... er varying(9),\n    cand_st1 text,\n    cand_st2 text,\n    cand_city text,\n    cand_st character varying(2),\n    cand_zip character varying(10)\n)',),
 ('CREATE TABLE "comm"(\n  "cmte_id" TEXT,\n  "cmte_nm" TEXT,\n  "tres_nm" TEXT,\n  "cmte_st1" TEXT,\n  "cmte_st2" TEXT,\n  "cmte_city" TEXT,\n  "cmte_s ... (46 characters truncated) ... XT,\n  "cmte_tp" TEXT,\n  "cmte_pty_affiliation" TEXT,\n  "cmte_filing_freq" TEXT,\n  "org_tp" TEXT,\n  "connected_org_nm" TEXT,\n  "cand_id" TEXT\n)',),
 ('CREATE TABLE indiv_sample_nyc (\n    cmte_id character varying(9),\n    amndt_ind character(1),\n    rpt_tp character varying(3),\n    transaction_pg ... (299 characters truncated) ...   transaction_amt integer,\n    other_id text,\n    tran_id text,\n    file_num bigint,\n    memo_cd text,\n    memo_text text,\n    sub_id bigint\n)',)]

In [17]:
%%sql
SELECT *
FROM cand
LIMIT 5;

 * sqlite:///fec_nyc.db
Done.

[('H0AK00097', 'COX, JOHN R.', 'REP', 2014, 'AK', 'H', 0, 'C', 'N', 'C00525261', 'P.O. BOX 1092 ', '', 'ANCHOR POINT', 'AK', '99556'),
 ('H0AL02087', 'ROBY, MARTHA', 'REP', 2016, 'AL', 'H', 2, 'I', 'C', 'C00462143', 'PO BOX 195', '', 'MONTGOMERY', 'AL', '36101'),
 ('H0AL02095', 'JOHN, ROBERT E JR', 'IND', 2016, 'AL', 'H', 2, 'C', 'N', '', '1465 W OVERBROOK RD', '', 'MILLBROOK', 'AL', '36054'),
 ('H0AL05049', 'CRAMER, ROBERT E "BUD" JR', 'DEM', 2008, 'AL', 'H', 5, '', 'P', 'C00239038', 'PO BOX 2621', '', 'HUNTSVILLE', 'AL', '35804'),
 ('H0AL05163', 'BROOKS, MO', 'REP', 2016, 'AL', 'H', 5, 'I', 'C', 'C00464149', '7610 FOXFIRE DRIVE', '', 'HUNTSVILLE', 'AL', '35802')]

In [18]:
%%sql
SELECT *
FROM comm
LIMIT 5;

 * sqlite:///fec_nyc.db
Done.

[('C00000059', 'HALLMARK CARDS PAC', 'ERIN BROWER', '2501 MCGEE', 'MD#288', 'KANSAS CITY', 'MO', '64108', 'U', 'Q', 'UNK', 'M', 'C', '', ''),
 ('C00000422', 'AMERICAN MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE', 'WALKER, KEVIN', '25 MASSACHUSETTS AVE, NW', 'SUITE 600', 'WASHINGTON', 'DC', '20001', 'B', 'Q', '', 'M', 'M', 'AMERICAN MEDICAL ASSOCIATION', ''),
 ('C00000489', 'D R I V E POLITICAL FUND CHAPTER 886', 'TOM RITTER', '3528 W RENO', '', 'OKLAHOMA CITY', 'OK', '73107', 'U', 'N', '', 'Q', 'L', 'TEAMSTERS LOCAL UNION 886', ''),
 ('C00000547', 'KANSAS MEDICAL SOCIETY POLITICAL ACTION COMMITTEE', 'C. RICHARD BONEBRAKE, M.D.', '623 SW 10TH AVE', '', 'TOPEKA', 'KS', '66612', 'U', 'Q', 'UNK', 'Q', 'T', '', ''),
 ('C00000638', 'INDIANA STATE MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE', 'VIDYA KORA, M.D.', '322 CANAL WALK, CANAL LEVEL', '', 'INDIANAPOLIS', 'IN', '46202', 'U', 'Q', '', 'Q', 'M', '', '')]

In [19]:
%%sql
SELECT *
FROM indiv_sample_nyc
LIMIT 5;

 * sqlite:///fec_nyc.db
Done.

[('C00445015', 'N', 'Q1', 'P    ', 15951128130, '15', 'IND', 'SINGER, TRIPP MR.', 'NEW YORK', 'NY', '100214505', 'ATLANTIC MAILBOXES, INC.', 'OWNER', '01302015', 1000, '', 'A-CF13736', 1002485, '', '', 4041420151241812398),
 ('C00510461', 'N', 'Q1', 'P    ', 15951129284, '15E', 'IND', 'SIMON, DANIEL A', 'NEW YORK', 'NY', '100237940', 'N/A', 'RETIRED', '03292015', 400, 'C00401224', 'VN8JBDDJBA8', 1002590, '', '* EARMARKED CONTRIBUTION: SEE BELOW', 4041420151241813640),
 ('C00422410', 'N', 'Q1', 'P    ', 15970352211, '15', 'IND', 'ABDUL RAUF, FEISAL', 'NEW YORK', 'NY', '101150010', 'THE CORDOBA INITIATIVE', 'CHAIRMAN', '03042015', 250, '', 'VN8A3DBSYG6', 1003643, '', '', 4041620151241914560),
 ('C00510461', 'N', 'Q1', 'P    ', 15951129280, '15', 'IND', 'SCHWARZER, FRANK', 'NEW YORK', 'NY', '100145135', 'METRO HYDRAULIC JACK CO', 'SALES', '01162015', 100, '', 'VN8JBDAP4C4', 1002590, '', '* EARMARKED CONTRIBUTION: SEE BELOW', 4041420151241813630),
 ('C00510461', 'N', 'Q1', 'P    ', 15951129281, '15', 'IND', 'SCHWARZER, FRANK', 'NEW YORK', 'NY', '100145135', 'METRO HYDRAULIC JACK CO', 'SALES', '02162015', 100, '', 'VN8JBDBRDG3', 1002590, '', '* EARMARKED CONTRIBUTION: SEE BELOW', 4041420151241813632)]

In [20]:
%%sql
SELECT *
FROM indiv_sample_nyc
LIMIT 5;

 * sqlite:///fec_nyc.db
Done.

[('C00445015', 'N', 'Q1', 'P    ', 15951128130, '15', 'IND', 'SINGER, TRIPP MR.', 'NEW YORK', 'NY', '100214505', 'ATLANTIC MAILBOXES, INC.', 'OWNER', '01302015', 1000, '', 'A-CF13736', 1002485, '', '', 4041420151241812398),
 ('C00510461', 'N', 'Q1', 'P    ', 15951129284, '15E', 'IND', 'SIMON, DANIEL A', 'NEW YORK', 'NY', '100237940', 'N/A', 'RETIRED', '03292015', 400, 'C00401224', 'VN8JBDDJBA8', 1002590, '', '* EARMARKED CONTRIBUTION: SEE BELOW', 4041420151241813640),
 ('C00422410', 'N', 'Q1', 'P    ', 15970352211, '15', 'IND', 'ABDUL RAUF, FEISAL', 'NEW YORK', 'NY', '101150010', 'THE CORDOBA INITIATIVE', 'CHAIRMAN', '03042015', 250, '', 'VN8A3DBSYG6', 1003643, '', '', 4041620151241914560),
 ('C00510461', 'N', 'Q1', 'P    ', 15951129280, '15', 'IND', 'SCHWARZER, FRANK', 'NEW YORK', 'NY', '100145135', 'METRO HYDRAULIC JACK CO', 'SALES', '01162015', 100, '', 'VN8JBDAP4C4', 1002590, '', '* EARMARKED CONTRIBUTION: SEE BELOW', 4041420151241813630),
 ('C00510461', 'N', 'Q1', 'P    ', 15951129281, '15', 'IND', 'SCHWARZER, FRANK', 'NEW YORK', 'NY', '100145135', 'METRO HYDRAULIC JACK CO', 'SALES', '02162015', 100, '', 'VN8JBDBRDG3', 1002590, '', '* EARMARKED CONTRIBUTION: SEE BELOW', 4041420151241813632)]

In [21]:
%%sql
WITH donations AS (
SELECT comm.cmte_id, cmte_nm, transaction_amt
FROM indiv_sample_nyc
JOIN comm
ON comm.cmte_id = indiv_sample_nyc.cmte_id
WHERE name LIKE '%TRUMP%' AND name LIKE '%DONALD%' AND name NOT
LIKE '%INC%' )
SELECT cmte_id, SUM(transaction_amt) AS total_amount, COUNT(*) AS num_donations, cmte_nm
FROM donations
GROUP BY cmte_id
ORDER BY total_amount DESC;

 * sqlite:///fec_nyc.db
Done.

[('C00580100', 18633157, 131, 'DONALD J. TRUMP FOR PRESIDENT, INC.'),
 ('C00055582', 10000, 1, 'NY REPUBLICAN FEDERAL CAMPAIGN COMMITTEE'),
 ('C00014498', 9000, 1, 'REPUBLICAN PARTY OF IOWA'),
 ('C00571869', 5400, 2, 'DONOVAN FOR CONGRESS'),
 ('C00230482', 5200, 2, 'GRASSLEY COMMITTEE INC'),
 ('C00136457', 5000, 1, 'NEW HAMPSHIRE REPUBLICAN STATE COMMITTEE'),
 ('C00034033', 5000, 1, 'SOUTH CAROLINA REPUBLICAN PARTY'),
 ('C00554949', 2600, 1, 'FRIENDS OF DAVE BRAT INC.'),
 ('C00494229', 2000, 1, 'HELLER FOR SENATE'),
 ('C00369033', 1000, 1, 'TEXANS FOR SENATOR JOHN CORNYN INC')]

In [22]:
%%sql
SELECT comm.cmte_id, cmte_nm, transaction_amt
FROM indiv_sample_nyc
JOIN comm ON comm.cmte_id = indiv_sample_nyc.cmte_id
ORDER BY transaction_amt DESC
LIMIT 5 ;

 * sqlite:///fec_nyc.db
Done.

[('C00010603', "DNC SERVICES CORP./DEM. NAT'L COMMITTEE", 23787000),
 ('C00571372', 'RIGHT TO RISE USA', 10000000),
 ('C00580100', 'DONALD J. TRUMP FOR PRESIDENT, INC.', 10000000),
 ('C00532705', 'INDEPENDENCE USA PAC', 8500000),
 ('C00010603', "DNC SERVICES CORP./DEM. NAT'L COMMITTEE", 6175000)]